body{
  background-color: #F5EDED;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}


.IconDiv{
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

.Icon{
  margin: 0;
  padding: 0;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
}

.Header{
  background-color: #7FA1C3;
  height: 6rem;
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;
}

.box0Div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.CurrentWeather{
  display: flex;
  background-color: #E2DAD6;
  height: 12rem;
  width: 12rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.Data{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: -2rem;
  position: absolute;
}

.CityName{
  display: flex;
  justify-content: center;
}

.WeatherIcon{
  margin-bottom: 50px;
}

.lds-facebook {
  /* change color here */
  color: #E2DAD6;
  
}
.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.loading{
  display: flex;
  justify-content: center;
}

.daysTemp{
  width:  68rem;
  height: 20rem;
  background-color: #918987;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.viewPortDaysTemp{
  width: 100vw;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.DaysBoxDiv{
  margin: 30px;
}