body{
  background-color: #F5EDED;
}

.IconDiv{
  display: flex;
  align-items: center;
  padding-top: 3.5rem;
}

.Icon{
  margin: 0;
  padding: 0;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
}

.Header{
  background-color: #7FA1C3;
  height: 8rem;
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;
}

.CurrentWeather{
  display: flex;
  background-color: #E2DAD6;
  height: 12rem;
  width: 12rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  margin-left: 65rem;
}