body{
  background-color: #F5EDED;
}

.IconDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
}

.Icon{
  margin: 0;
  padding: 0;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
}

.Header{
  background-color: #7FA1C3;
  height: 10rem;
  margin: 0;
  padding: 0;
}